body{
    background: url("img/1.jpg");
}
.main{
    background-color: #f9f9f9;
    margin: 50px;
}
.brand{/*brand*/
    margin-top: -10px;
    width: 40px;
    height: 40px;
}
.question-title{
    margin-top: 25px;
}
.question-tag{
    margin-right: 5px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{/*加空格*/
    margin-top: 15px;
}
.life-menu{
    display: block;
    margin-bottom: 15px;
    color: #999;
    font-size: 13px;
}
.jumbotron {/*加空格*/
    margin: 50px;
}
.media-body{
    padding-top: 10px;
}
.comment{
    margin: 20px 0;
}
.pull-right{
    float: right;
    margin-bottom: 15px;
}
.media-object{/*头像*/
    margin-top: 10px;
    width: 40px;
    height: 40px;
}
.picture-size{
    width: 100%;
}

.comment-line{
    margin-top: 0px;
}
.theme{
    color: #999999;
    margin-top: 5px;
}
.theme .thumbs{/*点赞*/
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.theme .active{/*评论*/
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
    color: #449d44;
}
.theme .number{/*评论数位置*/
    margin-left: -12px
}


.theme .thumbs:hover{
    color: #449d44;
}
.firstComment{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid aliceblue;/*下边框*/
}
.secondComment{
    border-radius: 5px;/*圆角*/
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #eeeeee;/*二级评论框*/
    padding-top: 15px;
}
.secondComment .btn{
    margin-top: 10px;
}
