body{
    background: url("img/6.jpg");
    background-size: 100% ;
}
.main{
    /*background-color: #f9f9f9;*/
    background-color:rgba(255,255,255,0.6) ;
    margin: 100px 50px;
}

/*publish.html*/
.publishMain {
    background-color:rgba(255,255,255,0) ;
    margin: 50px;
}
.publish-main{
    background-color:rgba(255,255,255,0) ;
}
.label-info{
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
/*.tab-content{*/
/*    display: flex;*/
/*    flex-wrap: wrap;!*放不下时换行*!*/
/*    margin-top: 10px;*/
/*    flex-direction: row;*/
/*}*/

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{/*加空格*/
    margin-top: 15px;
}
.life-menu{
    display: block;
    margin-bottom: 15px;
    color: #999;
    font-size: 13px;
}

.media-body{
    padding-top: 10px;
}


.pull-right{/*按钮位置*/
    float: right;
    margin-bottom: 15px;
}


.media-object{/*头像*/
    margin-top: 10px;
    width: 40px;
    height: 40px;
}


.picture-size{
    width: 100%;
}


/*question.html*/
.theme{
    color: #999999;
    margin-top: 5px;
}
.theme .thumbs{/*点赞*/
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
}

.theme .active{/*评论*/
    margin-right: 5px;
    font-size: 15px;
    cursor: pointer;
    color: #449d44;
}
.theme .number{/*评论数位置*/
    margin-left: -12px
}
.theme .thumbs:hover{
    color: #449d44;
}
.comment-line{
    margin-top: 0px;
}
.firstComment{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid aliceblue;/*下边框*/
}
.secondComment{
    border-radius: 5px;/*圆角*/
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #eeeeee;/*二级评论框*/
    padding-top: 15px;
}
.secondComment .btn{
    margin-top: 10px;
}
.comment{
    margin: 20px 0;
}
.main .description{
    background: transparent;
    border-style: none;
}

.question-title{
    margin-top: 25px;
}
.question-tag{
    margin-right: 5px;
}


/*foot.html*/
.footer{
    color: #666;
    padding: 5px 25%;
}


/*error.html*/
.error-body{
    background: url("img/4.jpg") no-repeat;
    background-size: 100% ;
}
.errorPage{
    background-color:rgba(255,255,255,0) ;
    margin-left: 400px;
    margin-top: 170px;
}
.errorPage .errorButton{
    margin-left: 40px;
}
.errorFooter{
    margin-top: 150px;
}
.jumbotron {/*加空格*/
    margin: 50px;
}


/*navigation.html*/
.navNot{
    margin-left: 5px;
}
.navig{
    background: transparent;
    border-style: none;

    position: absolute;
    left:0;
    top:0;
    width:100%;
    z-index: auto;
}

.brand{/*brand*/
    margin-top: -10px;
    width: 40px;
    height: 40px;
}
/*.container{*/
/*    margin-top: -528px;*/
/*    margin-left: 982px;*/
/*}*/

















