<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/life.css">
<body>
<div th:fragment="nav">
<nav class="navbar navbar-default">
    <div class="container-fluid">


        <div class="navbar-header" th:if="${session.userModel != null}">
            <a class="navbar-brand" href="#">
                <img alt="Bra" class="brand img-rounded" th:src="${session.userModel.getAvatarUrl()}">
            </a>
        </div>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">码农社区</span>

            </button>
            <a class="navbar-brand" href="/">码农社区</a>



        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" action="/" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="请输入..." name="search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                    通知
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span></button>
                                <h4 class="modal-title" id="myModalLabel">通知</h4>
                            </div>
                            <div class="modal-body">
                                123
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">已阅</button>
                                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                            </div>
                        </div>
                    </div>
                </div>


                <li th:if="${session.userModel != null}">
                    <a href="/publish">发布</a>
                </li>
                <!--<div th:text="${session.user}"></div>-->
                <!--打印user的值方便th:if(GithubUser类记得加toString方法) -->
                <li th:if="${session.userModel == null}"><a href="https://github.com/login/oauth/authorize?client_id=eaca1a2763bc1ac3b0c4&redirect_uri=http://localhost:8080/callback&scope=user&state=1">登陆</a></li>
               <li th:if="${session.userModel == null}"><a href="https://openapi.baidu.com/oauth/2.0/authorize?response_type=code&client_id=axkEP12v2NzHOWhXZU5EDfPG&redirect_uri=http://localhost:8080/BaiDuCallBack">百度</a></li>

                <li class="dropdown" th:if="${session.userModel != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
                        <span th:text="${session.userModel.getName()}"></span>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/profile/questions">我的问题</a></li>
                        <li><a href="/profile/replies">我的通知<span class="badge" th:text="${session.unreadCount}"></span></a></li>
                        <li><a href="#">个人信息</a></li>
                        <li><a href="/logout">退出登陆</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
<button class="btn btn-primary" type="button">
    Messages <span class="badge">4</span>
</button>
</body>
</html>