<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${question.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/life.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/moment.js" type="application/javascript"></script><!--注意在life.js上面-->
    <script src="/js/life.js" type="application/javascript"></script>
    <link rel="stylesheet" href="/css/sweet-alert.css">

    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
    <script src="/js/sweetalert.min.js" type="application/javascript"></script>
    <script src="/js/specialeffect.js" type="application/javascript"></script>
</head>

<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main profile">
    <div class="row">
        <!--页面左边信息块-->
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <!--正文-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="question-title"><span th:text="${question.title}"></span></h3>
                    <span class="text-desc">
                    作者：<span th:text="${question.userModel != null ? question.userModel.name : question.register.name}"></span>
                    阅读数：<span th:text="${question.viewCount}"></span> |
                    发布时间：<span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 description" id="question-view" >
                    <textarea th:text="${question.description}" ></textarea>
                </div>
                <!--https://github.com/pandao/editor.md/  style="display:none;"-->
                    <script type="text/javascript">
                        $(function() {
                        editormd.markdownToHTML("question-view", {});
                        });
                    </script>

                <!--标签-->
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                    <span class="label label-info question-tag"  th:each="tag : ${question.tag.split(',')}">
                        <span class="glyphicon glyphicon-tags"></span>
                        <span th:text="${tag}"></span><!--class="label label-info"-->
                    </span>
                </div>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            </div>
            <!--编辑-->

            <a th:href="@{'/publish/'+${question.id}}" class="life-menu"
               th:if="${ session.userModel != null&& session.userModel.id == question.creator}"><!--前后顺序不能反-->
                <span class="glyphicon glyphicon-pencil" aria-hidden="true">编辑</span></a>

            <!--th:href="@{'/publish/delete/'+${question.id}}"-->
            <a  class="life-menu" onclick="deleteQuestion()" href="#"
               th:if="${ session.userModel != null&& session.userModel.id == question.creator}"><!--前后顺序不能反-->
                <span class="glyphicon glyphicon-remove" aria-hidden="true">删除</span>
            </a>

            <!--回复样式-->
            <!--回复数-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    <span th:text="${question.commentCount}"></span> 个回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-line">
                <!--一级回复循环--><!--先头像后内容-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 firstComment" th:each="comment:${commentDTOList}">
                    <div class="media">
                        <div class="media-left">
                            <a href="#" th:if="${comment.userModel == null}">
                                <img class="media-object img-rounded"
                                     th:src="${comment.register.avatarUrl}">
                            </a>
                            <a href="#" th:if="${comment.userModel !=null}">
                                <img class="media-object img-rounded"
                                     th:src="${comment.userModel.avatarUrl}">
                            </a>
                        </div>

                        <div class="media-body" th:id="${'comment-body-'+comment.id}">
                            <h4 class="media-heading">
                                <span th:if="${comment.userModel ==null}" th:text="${comment.register.name}"></span>
                                <span th:if="${comment.userModel != null}" th:text="${comment.userModel.name}"></span>
                            </h4>
                            <div th:text="${comment.content}"></div>
                            <div class="theme">
                                <span class="glyphicon glyphicon-thumbs-up thumbs"></span>


                                    <span th:data-id="${comment.id}" onclick="collapseComments(this)">
                                        <span class="glyphicon glyphicon-comment thumbs">
                                        <span th:text="${comment.commentCount}" class="number"></span>
                                        </span>
                                    </span>

                            </div><!--绑定回复的id data储存自定义数据-->
                            <span th:text="${#dates.format(comment.gmtCreate,'yyyy-MM-dd HH:mm')}"></span><!--回复时间位置-->
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 collapse secondComment"  th:id="${'comment-'+comment.id}">
                            <!--二级回复循环-->
                            <!--评论二级评论的评论框-->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><input type="text" class="form-control" placeholder="评论一下..." th:id="${'input-'+comment.id}"><!--获取评论-->
                                <button type="button" class="btn btn-success pull-right" th:data-id="${comment.id}" onclick="comment(this)">评论</button><!--点击拿到commentId-->
                            </div>
                        </div><!--需要占整个屏 collapse必须加in才能展示下面内容 in在life.js里面添加和删除-->

                    </div>
                </div>
            </div>

            <!--回复输入框-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h4>
                    提交回复
                </h4>
                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12 comment-line">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="comment_hide">
                    <!--头像-->
                    <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object img-rounded"
                                     th:src="${session.userModel != null ? session.userModel.avatarUrl :'/css/img/3.png'}">
                            </a>
                        </div>
                        <div class="media-body">

                            <h4 class="media-heading">
                                <span th:text="${session.userModel != null ? session.userModel.name :'默认用户'}"></span>
                            </h4>
                        </div>
                    </div>
                    <input type="hidden" id="question_id" th:value="${question.id}"><!--获取问题id值-->
                    <textarea class="form-control comment" rows="6" id="comment_content"></textarea>
                    <button type="button" class="confirm btn btn-success pull-right" onclick="post()">回复</button>
                </div>
            </div>
        </div>

            <!--页面右边信息块-->
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h5>发起人</h5>
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object img-circle"
                                 th:src="${question.userModel != null ? question.userModel.avatarUrl : question.register.avatarUrl}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <span th:text="${question.userModel != null ? question.userModel.name : question.register.name}"></span>
                        </h4>
                    </div>
                </div>

                <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!--自定义图片-->
                    <hr class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="/css/img/2.jpg" class="img-thumbnail picture-size">
                    <h5>相关问题</h5>
                    <ul>
                        <li th:each="related : ${relatedQuestions}">
                            <a th:href="@{'/questions/'+${related.id}}" th:text="${related.title}"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>