<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.demo.mapper.QuestionExtModelMapper"><!--在这里与QuestionExtMapper.java相映射-->
  <resultMap id="BaseResultMap" type="com.life.demo.model.QuestionModel">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="GMT_CREATE" jdbcType="BIGINT" property="gmtCreate" />
    <result column="GMT_MODIFIED" jdbcType="BIGINT" property="gmtModified" />
    <result column="CREATOR" jdbcType="INTEGER" property="creator" />
    <result column="COMMENT_COUNT" jdbcType="INTEGER" property="commentCount" />
    <result column="VIEW_COUNT" jdbcType="INTEGER" property="viewCount" />
    <result column="LIKE_COUNT" jdbcType="INTEGER" property="likeCount" />
    <result column="TAG" jdbcType="VARCHAR" property="tag" />
  </resultMap>
  <update id="view" parameterType="com.life.demo.model.QuestionModel">
    update QUESTION
    set
    VIEW_COUNT =VIEW_COUNT+ #{viewCount,jdbcType=INTEGER}
    where id=${id}
  </update>
  <update id="CommentCount" parameterType="com.life.demo.model.QuestionModel">
    update QUESTION
    set
    COMMENT_COUNT =COMMENT_COUNT+ #{commentCount,jdbcType=INTEGER}
    where id=${id}
  </update>
<!--自定义--><!--使用parameterType ：主要针对于将信息存入到数据库中如：insert增加数据到数据库中,Update更新等-->
  <select id="selectRelated" parameterType="com.life.demo.model.QuestionModel" resultMap="BaseResultMap">
    select * from QUESTION where id != #{id} and tag regexp #{tag}/*正则*/
  </select>
<!--搜索-->
  <select id="countBySearch" parameterType="com.life.demo.dto.QuestionQueryDTO" resultType="java.lang.Integer">
    select count(*) from QUESTION
    <where>
        <if test="search != null">
            and title regexp #{search}
        </if>
    </where>
  </select>

  <select id="selectBySearch" parameterType="com.life.demo.dto.QuestionQueryDTO" resultMap="BaseResultMap">
    select * from QUESTION
    <where>
      <if test="search != null">
        and title regexp #{search}
      </if>
    </where>
    order by gmt_create desc limit #{page},#{size}
  </select>
</mapper>